#titleLogo {
    object-fit: scale-down;
    height: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    text-align: center;
}

#pokemonImage {
    object-fit: scale-down;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#table {
    visibility: hidden;
}

#pokemonName {
    padding-top: 30px;
    text-align: center;
    visibility: hidden;
}

#pokemonInput,#moveInput,#submit {
    border-color: black;
    border-radius: 0%;
    margin: 5px;
}

#submit {
    text-align: left;
}
